---
import { Icon } from "astro-icon/components";
import Button from "./ui/Button.astro";
---

<div class="hidden md:flex gap-6 items-center">
  <div
    class="flex gap-2 bg-white shadow-lg border border-accent2 rounded-full py-2 pl-2 pr-4 focus-within:ring-2 ring-accent2 transition-shadow"
  >
    <Icon name="search" size={24} />

    <input
      type="text"
      class="focus:outline-none placeholder:font-light focus:placeholder:font-normal"
      name="search"
      id="search-input"
      placeholder="Coffee Search ..."
    />
  </div>

  <Button
    id="view-cart"
    aria-label="view cart"
    intent={"icon"}
    size={"xsmall"}
    title="View Cart"
  >
    <Icon name="cart" size={24} />
  </Button>
</div>

<script>
  const cartButton = document.querySelector("#view-cart") as HTMLButtonElement;

  cartButton.addEventListener("click", () => {
    alert("This is a cart");
  });
</script>
