---
import { Icon } from "astro-icon/components";

import Link from "@ui/Link.astro";
import Button from "@ui/Button.astro";
import NavItems from "@components/NavItems.astro";
import Search from "@components/Search.astro";
---

<nav
  class="container flex w-full justify-between py-3 items-center absolute left-1/2 -translate-x-1/2 z-50"
>
  <Link
    href="/"
    intent={"icon"}
    size={"xsmall"}
    aria-label="Go home"
    title="Go home"
  >
    <Icon name="CoffeeLove" width={36} height={60} class="size-6 sm:size-9" />
  </Link>

  <NavItems />

  <Search />

  <Button
    classes="md:hidden"
    intent={"icon"}
    size={"xsmall"}
    aria-label="Open mobile nav"
    id="mobile-nav"
  >
    <Icon name="mobile-nav" size={30} />
  </Button>
</nav>

<script>
  const mobileNavButton = document.querySelector(
    "#mobile-nav"
  ) as HTMLButtonElement;

  mobileNavButton.addEventListener("click", () => {
    alert("Hola");
  });
</script>
